@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
ul {
  margin: 0 auto;
}

li {
  margin-left: 10px;
}

.ctc {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 30px;
  margin-left: 10px;
}

#logout-btn {
  position: relative;
  border: none;
  background: none;
}

#login-btn {
  position: relative;
}

#register-btn {
  position: relative;
}

#profile {
  position: relative;
}

.nav-logo {
  color: red;
  font-size: 26px;
  font-weight: bold;
}

.nav-logo:hover {
  color: white;
}