@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
ul {
  margin: 0 auto;
}

li {
  margin-left: 10px;
}

.ctc {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 30px;
  margin-left: 10px;
}
#logout-btn {
  cursor: pointer;
}
